.cart-container {
  display: inline-block;
  margin: 0;
}

.cart-icon {
  font-size: 24px;
}

.cart-badge {
  position: absolute;
  top: 8px; /* ajuste la position verticale */
  right: -8px; /* ajuste la position horizontale */
  width: 24px;
  height: 24px;
  background-color: red; /* badge rouge */
  border-radius: 50%; /* cercle parfait */
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue; /* texte bleu */
  font-weight: bold;
  font-size: 14px;
}
